# Auto detect text files and perform LF normalization
# Auto detect text files
* text=auto

# Arduino source files
*.ino text
*.cpp text
*.h text

# Documentation
*.md text
*.txt text

# Office files
*.pdf binary
*.pptx binary
*.docx binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary

# Videos
*.mp4 binary
*.avi binary

# Windows scripts
*.bat text eol=crlf

# Linux shell scripts
*.sh text eol=lf
* text=auto
